{% extends 'home/base.html' %}
{% block content %}
<form id="my_form" method='post' action='{% url "neurohack-anomaly-visualizations" %}'style="margin-bottom: 128px;margin-left: 50px;margin-top: -50;margin-top: 143px;">
  {% csrf_token %}
  <label for="day">Choose a day:</label>
  <select class="day" id="day" name='day'>
      <option value="">--Please choose an option--</option>
      {% for item in day %}
      {% if day_persist == item %}
          <option value='{{ item }}'selected >{{ item }}</option>
      {% else %} 
          <option value='{{ item }}'>{{ item }}</option>
      {% endif %}>
      {% endfor %}

  </select>
  <label for="month">Choose a month:</label>
  <select class="month" id="month" name='month'>
      <option value="">--Please choose an option--</option>
      {% for item in month %}
      {% if month_persist == item %}
          <option value='{{ item }}'selected>{{ item }}</option>
      {% else %} 
          <option value='{{ item }}'>{{ item }}</option>
      {% endif %}
      {% endfor %}
      
  </select>
  <label for="year">Choose a year:</label>
  <select class="year" id="year" name='year'>
      <option value="">--Please choose an option--</option>
      {% for item in year %}
      {% if year_persist == item %}
          <option value='{{ item }}'selected>{{ item }}</option>
      {% else %} 
          <option value='{{ item }}'>{{ item }}</option>
      {% endif %}
      {% endfor %}
      
  </select>
 
  <input type="submit" class="btn btn-outline-primary btn-sm" onclick="submit_form()" value="Submit">
</form>      

<div style= "margin-left: auto;margin-right: auto;margin-top: 155px;">
              {% if graph %}
                {{ graph|safe }}
              {% else %}
              {% if error %}
                <p> {{error}}</p>
                {% endif %}
              {% endif %}
              
</div>

{% endblock %}
          