{% extends 'home/base.html' %}
{% load static%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="our-team">
                    <img src="{% static 'img/10685701.PNG' %}" alt="">
                    <div class="team-content">
                        <h3 class="team-title">Nikhil Doye<small>NAUT LTI</small></h3>
                        
                    </div>
                </div>
            </div>
            <div class="col">
              <div class="our-team">
                  <img src="{% static 'img/Abhijit_Pal.png' %}" alt="">
                  <div class="team-content">
                      <h3 class="team-title">Abhijit Pal<small>NAUT LTI</small></h3>
                      
                  </div>
              </div>
          </div>
          <div class="col">
            <div class="our-team">
                <img src="{% static 'img/MicrosoftTeams-image (19).png' %}" alt="">
                <div class="team-content">
                    <h3 class="team-title">Sandra Jacob<small>NAUT LTI</small></h3>
                    
                </div>
            </div>
        </div>
        <div class="col">
          <div class="our-team">
              <img src="{% static 'img/DSC_0202-01 (1).jpg' %}" alt="">
              <div class="team-content">
                  <h3 class="team-title">Ajith H<small>NAUT LTI</small></h3>
                  
              </div>
          </div>
      </div>
      <div class="col">
        <div class="our-team">
            <img src="{% static 'img/AKAS222.jpg' %}" alt="">
            <div class="team-content">
                <h3 class="team-title">Akash Kirodiwal<small>NAUT LTI</small></h3>
                
            </div>
        </div>
    </div>

{% endblock %}